# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import sqlite3 as sl
import pandas as pd
shows_df=pd.read_csv('tv_shows.csv')

In [2]:
print(shows_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

In [3]:
show_df=shows_df.drop('Unnamed: 0',1)

C:\Users\lama_\AppData\Local\Temp\ipykernel_14968\4056723477.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  show_df=shows_df.drop('Unnamed: 0',1)

In [4]:
shows_df=shows_df.rename(columns={'Rotten Tomatoes':'Rotten_Tomatoes',
                                 'Prime Video':'Prime',
                                  'Disney+':'Disney'
                                 },)

In [5]:
print(shows_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten_Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime            5368 non-null   int64
 10  Disney           5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [6]:
con=sl.connect('tv.db')
shows_df.to_sql('sshows',con)

ValueError: Table 'sshows' already exists.

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [ ]:
shows_df.head(20)

In [7]:
pd.read_sql_query("select * from sshows limit 20",con)

,index,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime,Disney,Type
0,0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now add a table that includes an id number and the titles on your watchlist.

In [8]:
with con:
       con.execute("""
        CREATE TABLE watchlist (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT
            );
         """)

OperationalError: table watchlist already exists

In [9]:
sql = 'INSERT INTO watchlist (id, title) values(?, ?)'
data = [
        (1, 'Downton Abbey'),
        (2, 'Bridgerton'),
        (3, 'Shadow and Bone'),
        (4, 'Great British Baking Show'),
        (5, 'Dickinson'),
        (6, 'The Mandalorian'),
        (7, 'Big Little Lies'),
        (8, 'Making the Cut'),
        (9, 'The Real Housewives of Beverly Hills'),
        (10, 'Father Brown')
    ]

con.executemany(sql, data)

data = con.execute("SELECT * FROM watchlist")
for row in data:
        print(row)

(1, 'Downton Abbey')
(2, 'Bridgerton')
(3, 'Shadow and Bone')
(4, 'Great British Baking Show')
(5, 'Dickinson')
(6, 'The Mandalorian')
(7, 'Big Little Lies')
(8, 'Making the Cut')
(9, 'The Real Housewives of Beverly Hills')
(10, 'Father Brown')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [10]:
print(shows_df.describe())
print(shows_df['Netflix'].value_counts())
print(shows_df['Hulu'].value_counts())
print(shows_df['Prime'].value_counts())
print(shows_df['Disney'].value_counts())

        Unnamed: 0           ID         Year      Netflix         Hulu  \
count  5368.000000  5368.000000  5368.000000  5368.000000  5368.000000
mean   2683.500000  2814.945790  2012.628726     0.367176     0.301975
std    1549.752453  1672.385727    10.142813     0.482080     0.459157
min       0.000000     1.000000  1904.000000     0.000000     0.000000
25%    1341.750000  1345.750000  2011.000000     0.000000     0.000000
50%    2683.500000  2788.000000  2016.000000     0.000000     0.000000
75%    4025.250000  4308.250000  2018.000000     1.000000     1.000000
max    5367.000000  5717.000000  2021.000000     1.000000     1.000000

             Prime       Disney    Type
count  5368.000000  5368.000000  5368.0
mean      0.341095     0.065387     1.0
std       0.474122     0.247231     0.0
min       0.000000     0.000000     1.0
25%       0.000000     0.000000     1.0
50%       0.000000     0.000000     1.0
75%       1.000000     0.000000     1.0
max       1.000000     1.000000     1.0
0    3397
1    1971
Name: Netflix, dtype: int64
0    3747
1    1621
Name: Hulu, dtype: int64
0    3537
1    1831
Name: Prime, dtype: int64
0    5017
1     351
Name: Disney, dtype: int64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [11]:

streaming_df = pd.read_sql("""
    SELECT watchlist.title, sshows.Netflix, sshows.Hulu, sshows.Prime , sshows.Disney 
     FROM watchlist JOIN sshows ON sshows.Title == watchlist.title;
     """, con)
streaming_df.to_sql('watchlist_streaming', con)

ValueError: Table 'watchlist_streaming' already exists.

In [12]:
print(streaming_df.head(10))

                                  title  Netflix  Hulu  Prime  Disney
0                         Downton Abbey        1     0      1       0
1                            Bridgerton        1     0      0       0
2                       Shadow and Bone        1     0      0       0
3                       The Mandalorian        0     0      0       1
4                        Making the Cut        0     0      1       0
5  The Real Housewives of Beverly Hills        0     1      0       0

In [13]:
print(streaming_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    6 non-null      object
 1   Netflix  6 non-null      int64
 2   Hulu     6 non-null      int64
 3   Prime    6 non-null      int64
 4   Disney   6 non-null      int64
dtypes: int64(4), object(1)
memory usage: 368.0+ bytes
None

In [14]:
print(streaming_df.describe())

        Netflix      Hulu     Prime    Disney
count  6.000000  6.000000  6.000000  6.000000
mean   0.500000  0.166667  0.333333  0.166667
std    0.547723  0.408248  0.516398  0.408248
min    0.000000  0.000000  0.000000  0.000000
25%    0.000000  0.000000  0.000000  0.000000
50%    0.500000  0.000000  0.000000  0.000000
75%    1.000000  0.000000  0.750000  0.000000
max    1.000000  1.000000  1.000000  1.000000

In [15]:



print(streaming_df['Netflix'].value_counts())
print(streaming_df['Hulu'].value_counts())
print(streaming_df['Prime'].value_counts())
print(streaming_df['Disney'].value_counts())

1    3
0    3
Name: Netflix, dtype: int64
0    5
1    1
Name: Hulu, dtype: int64
0    4
1    2
Name: Prime, dtype: int64
0    5
1    1
Name: Disney, dtype: int64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
Answer: No, there was not every show on the watchlist in the kaggle dataset. The dataset was last updated a year ago, therefore newer shows from my watchlist was not present.
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
Answer: I think the shows were randomly chosen and did not know if they were exclusive or inclusive. After analysis it was found that one of the shows was on two streaming service.

2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
Answer: Netflix offered the most shows (3) while Disney and hulu offered least (1)
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?
Answer: I think Nexflix would be best streaming service because it offered the most shows.